@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;

  --background: oklch(1 0 0);
  --foreground: oklch(27.9% 0.041 260.031); /* #334155 */
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.279 0.041 260.031); /* #334155 */
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.279 0.041 260.031);
  --primary: oklch(61.7% 0.19 255.058); /* #3B82F6 */
  --primary-light: oklch(84.8% 0.08 255.103); /* #BFDBFE */
  --primay-lighter: oklch(97.1% 0.02 255.002); /* #EFF6FF */
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.279 0.041 260.031); /* #334155 */
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.279 0.041 260.031); /* #334155 */
  --destructive: oklch(62.7% 0.215 27.325); /* #EF4444 */
  --destructive-light: oklch(86.2% 0.09 25.201); /* #FECACA */
  --dectructive-lighter: oklch(96.3% 0.02 25.104); /* #FEF2F2 */
  --border: oklch(82.9% 0.028 257.987);
  --input: oklch(82.9% 0.028 257.987);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.279 0.041 260.031); /* #334155 */
  --sidebar-primary: oklch(0.279 0.041 260.031); /* #334155 */
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(84.8% 0.08 255.103);
  --sidebar-accent-foreground: oklch(0.279 0.041 260.031); /* #334155 */
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(84.8% 0.08 255.103);

  --teal-light: oklch(52.1% 0.12 185.114); /* #0D9488 */
  --teal-lighter: oklch(92.1% 0.06 185.003); /* #CCFBF1 */
  --purple-light: oklch(45.1% 0.19 299.921); /* #7E22CE */
  --purple-lighter: oklch(93.1% 0.05 300.012); /* #F3E8FF */
  --orange-dark: oklch(52.0% 0.18 45.123); /* #C2410C */
  --orange-regular: oklch(66.7% 0.2 54.998); /* #F97316 */
  --orange-light: oklch(92.8% 0.07 64.902); /* #FFEDD5 */
  --green-dark: oklch(50.3% 0.13 145.201); /* #15803D */
  --green-light: oklch(92.1% 0.07 145.01); /* #DCFCE7 */
  --yellow-dark: oklch(52.3% 0.13 85.044); /* #A16207 */
  --yellow-light: oklch(95.2% 0.08 99.902); /* #FEF9C3 */
  /* extra text colors */
  --slate-9: oklch(20.8% 0.042 265.755); /* #0F172A */
  --slate-7: oklch(27.9% 0.041 260.031); /* #334155 */
  /* #334155 */
  --slate-6: oklch(36.9% 0.044 257.323); /* #475569 */
  --slate-5: oklch(44.6% 0.043 257.242); /* #64748B */
  --slate-4: oklch(64.8% 0.04 258.018); /* #94A3B8 */
  --slate-3: oklch(82.9% 0.028 257.987); /* #CBD5E1 */
  --slate-2: oklch(89.9% 0.018 258.004); /* #E2E8F0 */
}

@theme inline {
  /* extra text color variants */
  --color-v9: var(--slate-9); /* #0F172A */
  --color-v7: var(--slate-7); /* #334155 */
  --color-v6: var(--slate-6); /* #475569 */
  --color-v5: var(--slate-5); /* #64748B */
  --color-v4: var(--slate-4); /* #94A3B8 */
  --color-v3: var(--slate-3); /* #CBD5E1 */
  --color-v2: var(--slate-2); /* #E2E8F0 */

  --color-teal-light: var(--teal-light); /* #0D9488 */
  --color-teal-lighter: var(--teal-lighter); /* #CCFBF1 */
  --color-purple-light: var(--purple-light); /* #7E22CE */
  --color-purple-lighter: var(--purple-lighter); /* #F3E8FF */
  --color-orange-dark: var(--orange-dark); /* #C2410C */
  --color-orange-regular: var(--orange-regular); /* #F97316 */
  --color-orange-light: var(--orange-light); /* #FFEDD5 */
  --color-green-dark: var(--green-dark); /* #15803D */
  --color-green-light: var(--green-light); /* #DCFCE7 */
  --color-yellow-dark: var(--yellow-dark); /* #A16207 */
  --color-yellow-light: var(--yellow-light); /* #FEF9C3 */
  /* regular  */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-light: var(--destructive-light);
  --color-destructive-lighter: var(--destructive-lighter);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary); /* #3B82F6 */
  --color-primary-light: var(--primary-light); /* #BFDBFE */
  --color-primary-lighter: var(--primay-lighter); /* #EFF6FF */
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.87 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.371 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    @apply bg-background text-foreground;
  }
}
